body {
    background-color: gold;
    }

    h1 {
        color: darkmagenta;
        position: relative;
        left: 46%;
        display: block;
        font: bolder;
        font-size: x-large;
        font-family: Arial, Helvetica, sans-serif;
    }

    h3 {
        color: magenta;
        font: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
   img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
      }

      form {
        position: relative;
        left: 0;
        width: 100%;
        color: magenta;
        text-align: center;
      }

      h5 {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
      }